<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/not_data.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="form-wrapper">
            <h1>Looks like we don't have any data yet :(</h1>
            <br><br>
            <h3>Try setting up the physical device and then come back later...</h3>
            <br>
            <a href="help">[device instructions]</a>
            <br><br><br><br>
            <a href="settings">Go to settings</a>
            <br><br>
            <a href="logout">Go back to login</a>
        </div>
        <div class="background-art">
          <div class="temperature-rings"></div>
      </div>
    </div>
</body>

</html>
