<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link  rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<title>
    AHRT Project
</title>
<body>
    <div id="navBar">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
    </div>
    <div name="tempGraph" id="temp_chart" class="chart">
        
    </div>
    <div name="separator" class="separator">

    </div>
    <div name="humidityGraph" id="humidity_chart" class="chart">
        
    </div>
    <h1>Temperature Heatmap - Time of Day</h1>
     <div name="heatmapGraph" id="heatmap_chart" class="chart"></div>

     <div class="slider-container">
         <label for="time-slider" class="slider-label">Time of Day: <span id="time-label">0</span> hrs</label><br>
         <input type="range" id="time-slider" min="0" max="23" value="0" step="1">
     </div>
    
    
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var temp_graph = {{temp_graphJSON | safe}};
    Plotly.plot('temp_chart',temp_graph,{});

    var hum_graph = {{humidity_graphJSON | safe}};
    Plotly.plot('humidity_chart',hum_graph,{});

    var heatmap_data = {{heat_graphJSON | safe}};
    var slider = document.getElementById("time-slider");
    var timeDisplay = document.getElementById("time-label");

    // Function to update the heatmap for a given snapshot
    function updateHeatmap(snapshot) {
        var tempGraphJSON = snapshot.graph;
        var heatmapData = JSON.parse(tempGraphJSON);
        heatmapData.layout.yaxis.autorange = 'reversed';
        console.log("Updated map")
        // Plot the heatmap using Plotly
        Plotly.newPlot('heatmap_chart', heatmapData.data, heatmapData.layout);
    }

    // Initialize the first heatmap and display time
    updateHeatmap(heatmap_data[0]);
    timeDisplay.textContent = heatmap_data[0].time;

    // Event listener for the slider to update the heatmap when the time changes
    slider.addEventListener("input", function() {
        var index = slider.value;
        timeDisplay.textContent = heatmap_data[index].time;
        updateHeatmap(heatmap_data[index]);
    });

</script>

</html>

