<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <title>AHRT Project</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">
                <h1 id="names_dash">Study Name</h1></a>
            </div>
            <div class="navbar-links">
                <button class="theme-toggle" id="theme-toggle">🌙</button>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </nav>

    <!-- Dashboard Content -->
    <div class="dashboard-container">
        <!-- Cards with stats -->
        <div class="stats-container">
            <div class="stat-card">
                <h3>Latest temperature</h3>
                <p id="current-temp"></p>
            </div>
            <div class="stat-card">
                <h3>Highest temperature</h3>
                <p id="highest-temp"></p>
            </div>
            <div class="stat-card">
                <h3>Lowest temperature</h3>
                <p id="lowest-temp"></p>
            </div>
            
            <div class="stat-card">
                <h3>Lowest Humidity</h3>
                <p id="lowest-humidity"></p>
            </div>
        </div>

        <!-- Graphs and Heatmap -->
        <div class="graph-container">
            <div class="temp-card">
                <div class="title-controller" id="temp_control_title">
                    <h3>Temperature over time</h3>
                    <input type="date" id="day-picker-temp">
                </div>
                <div class="temp" id="temp-graph">
                    <!-- Graph will be here -->
                </div>
            </div>
            <div class="graph-card">
                <div class="title-controller" id="temp_control_title">
                    <h3>Humidity over time</h3>
                    <input type="date" id="day-picker-humidity">
                </div>
                <div class="graph" id="humidity-graph">
                    <!-- Graph will be here -->
                </div>
            </div>
            <div class="graph-card">
                <div class="title-controller" id="temp_control_title">
                    <h3>Heatmap timeline</h3>
                    <input id="day-picker-heatmap" type="date" />
                </div>
                <div class="graph" id="heatmap-graph">
                    <!-- Heatmap will be here -->
                </div>
                <!-- Time Slider -->
                <div class="slider-container">
                    <label for="time-slider" class="slider-label">Time: <span id="time-label">0</span> hrs</label><br>
                    <input type="range" id="time-slider" min="0" max="73" value="73" step="1">
                    
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript for theme toggle -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script>
        var temp_graph = {{temp_graphJSON | safe}};
        var hum_graph = {{humidity_graphJSON | safe}};
        var heat_graph = {{heat_graphJSON | safe}};
        var heat_sequence = {{heatmap_seq | safe}};
        var study_data = {{study_dataJSON | safe}};
        var full_heatmap_data = heat_sequence;
        heat_graph.layout.yaxis.autorange = 'reversed';
        const [min_temp, max_temp] = get_min_max(temp_graph.data);
        const [min_hum, max_hum] = get_min_max(hum_graph.data);

        Plotly.plot('temp-graph', temp_graph.data, temp_graph.layout);
        Plotly.plot('humidity-graph', hum_graph.data, hum_graph.layout);
        Plotly.plot('heatmap-graph', heat_graph.data, heat_graph.layout);

        document.getElementById('names_dash').innerText = `${study_data.owner}'s Dashboard`;
        var localDate = (new Date()).toLocaleDateString('en-CA', { timeZone: 'America/Tijuana' });
        document.getElementById('day-picker-temp').value = localDate;
        document.getElementById('day-picker-humidity').value = localDate;
        document.getElementById('day-picker-heatmap').value = localDate;
        
        document.getElementById('lowest-temp').innerHTML = min_temp + " °C";
        document.getElementById('highest-temp').innerHTML = max_temp + " °C";
        document.getElementById('lowest-humidity').innerHTML = min_hum + " %";
        document.getElementById('current-temp').innerHTML = get_current_temp().toFixed(2)+" °C";

        // Time Slider functionality
        var slider = document.getElementById("time-slider");
        var timeDisplay = document.getElementById("time-label");
        slider.max = heat_sequence.length;
        slider.value = heat_sequence.length-1;
        timeDisplay.textContent = String(heat_sequence[heat_sequence.length-1].time)

            // Function to filter the heatmap data based on the date range
        function filterDataByDate() {
            var fromDate = new Date(document.getElementById('day-picker-heatmap').value + 'T00:00:00'); // Set start time to 00:00:00
            var tillDate = new Date(document.getElementById('day-picker-heatmap').value + 'T23:59:59'); // Set end time to 23:59:59

            // Filter the heatmap data based on the date range
            var filteredData = full_heatmap_data.filter(function(item) {
                var snapshotDate = new Date(item.time); // Assuming 'time' is in a format that JavaScript can parse
                return snapshotDate >= fromDate && snapshotDate <= tillDate;
            });

            return filteredData;
        }
        function get_min_max(graph_data){
            let data_min = Infinity;  // Initialize to a very large number
            let data_max = -Infinity; // Initialize to a very small number

            graph_data.forEach(element => {
                // Find the min and max for the current y array using the spread operator
                let sensorMin = Math.min(...element.y);
                let sensorMax = Math.max(...element.y);

                // Update global min and max across all data
                data_min = Math.min(sensorMin, data_min);
                data_max = Math.max(sensorMax, data_max);
            });

            return [data_min, data_max];
        }

        function get_current_temp(temp_data){
            var flat_arr = heat_sequence[heat_sequence.length-1].temp_grid.flat();
            console.log(flat_arr);
            return flat_arr.reduce((sum, currentValue) => sum + currentValue, 0) / flat_arr.length;
        }
        function updateHeatmap(snapshot) {
            heat_graph.data[0].z = snapshot.temp_grid;
            Plotly.newPlot('heatmap-graph', heat_graph.data, heat_graph.layout);
        }
        // Function to update the slider range and heatmap based on filtered data
        function updateSliderAndHeatmap() {
            var filteredData = filterDataByDate();

            // If there is filtered data, update the slider range and the first heatmap
            if (filteredData.length > 0) {
                // Update the slider range to match the filtered data
                slider.max = filteredData.length - 1;
                slider.value = 0;

                // Update the heatmap with the first snapshot of the filtered data
                updateHeatmap(filteredData[0]);
                slider.max = filteredData.length;
                slider.value = filteredData[filteredData.length-1];
                timeDisplay.textContent = String(filteredData[0].time);

            }
        }

        // Add event listeners to the date inputs to update the heatmap when the date range changes
        document.getElementById('day-picker-heatmap').addEventListener('change', updateSliderAndHeatmap);
        // Event listener for the slider to update the heatmap when the time changes
        slider.addEventListener("input", function() {
            var index = slider.value;
            timeDisplay.textContent = String(heat_sequence[index].time);
            updateHeatmap(heat_sequence[index]);
        });

        //Media Queries
        function myFunction(x) {
            if (x.matches) { // If media query matches
                temp_graph.layout.showlegend=false;
                Plotly.newPlot("temp-graph", temp_graph.data, temp_graph.layout);
                hum_graph.layout.showlegend=false;
                Plotly.newPlot("humidity-graph", hum_graph.data, hum_graph.layout);
                heat_graph.data[0].showscale=false;
                Plotly.newPlot("heatmap-graph", heat_graph.data, heat_graph.layout);
            } 
        }

        // Create a MediaQueryList object
        var x = window.matchMedia("(max-width: 900px)")

        // Call listener function at run time
        myFunction(x);

        // Attach listener function on state changes
        x.addEventListener("change", function() {
            myFunction(x);
        });
        
    </script>
    <script>
        const themeToggle = document.getElementById('theme-toggle');
        const body = document.body;

        themeToggle.addEventListener('click', () => {
            body.classList.toggle('dark-theme');
            if (body.classList.contains('dark-theme')) {
                themeToggle.textContent = '☀️';
                temp_graph.layout.font.color='#000000';
                Plotly.newPlot("temp-graph", temp_graph.data, temp_graph.layout);
                hum_graph.layout.font.color='#000000';
                Plotly.newPlot("humidity-graph", temp_graph.data, temp_graph.layout);
                heat_graph.layout.font.color='#000000';
                Plotly.newPlot("heatmap-graph", heat_graph.data, heat_graph.layout);
            } else {
                themeToggle.textContent = '🌙';
                temp_graph.layout.font.color='#FFFFFF';
                Plotly.newPlot("temp-graph", temp_graph.data, temp_graph.layout);
                hum_graph.layout.font.color='#FFFFFF';
                Plotly.newPlot("humidity-graph", temp_graph.data, temp_graph.layout);
                heat_graph.layout.font.color='#FFFFFF';
                Plotly.newPlot("heatmap-graph", heat_graph.data, heat_graph.layout);
            }
        });
    </script>
</body>
</html>
</html>

